.footer{
    display: flex;
    justify-content:center;
    align-items:center;
}
.footer__top{
    display: flex;
    justify-content:center;
    background-color:#131921;
    color:white;
    height: 50px;
    align-items:center;
}
.footer__bottom{
background-color:#232F3E;
display: flex;
    justify-content:center;
    align-items:center;

}
.footer__logo{
    width: 100px;
    margin: 0 20px;
}